/*header*/
header{
    /*padding: 10px 0;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    z-index: 2;
    transition: 200ms ease-out;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    background-color: var(--clr3);
}
header *{
    transition: 200ms ease-out;
}
header #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1640px;
    width: 95%;
    padding: 0 2.5%;
    margin: auto;
    height: 100px;
}
#nav-ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    max-width: 470px;
    width: 100%;
    justify-content: space-between;
}
#nav-ul li{
    position: relative;
}
#nav-ul li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--clr2);
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: all 0.5s;
}
#nav-ul li:hover::after{
    transform: scaleX(1);
}
#nav-ul li a{
    text-decoration: none;
    color: var(--clr5);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 3px;
}
.nav-colored{
    background-color: white;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
}
.nav-transparent{
    background-color: transparent;
}
#mobile-nav-ul{
    display: none;
    flex-direction: column;
    padding-left: 20px;
    list-style: none;
    background-color: var(--clr2);
    position: absolute;
    margin: 0;
    width: 100%;
    /*bottom: 0%;*/
    top: -200px;
    z-index: -1;
    transition: 300ms ease-out;
}
.mobile-nav-ul-open
#mobile-nav-ul li{
    display: flex;
}
#mobile-nav-ul a{
    color: var(--clr3);
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 0;
    display: flex;
}

#mobile-nav-ul img{
    height: 1rem;
    padding-right: 1rem;
}
#mobile-nav-ul.open-nav{
    bottom: unset;
    top: 100%;
}

/*hamburger-icon*/
#btnControl{
    display: none;
}
#hamburger-icon {
    width: 45px;
    height: 30px;
    position: relative;
    /*margin: 50px auto;*/
    display: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#hamburger-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: var(--clr2);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#hamburger-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}
#hamburger-icon span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
}
#hamburger-icon span:nth-child(1), #hamburger-icon span:nth-child(2) {
    top: 0px;
}
#hamburger-icon span:nth-child(3), #hamburger-icon span:nth-child(4) {
    top: 12px;
}
#hamburger-icon span:nth-child(5), #hamburger-icon span:nth-child(6) {
    top: 24px;
}
#hamburger-icon.open span:nth-child(1),#hamburger-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#hamburger-icon.open span:nth-child(2),#hamburger-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#hamburger-icon.open span:nth-child(1) {
    left: 4px;
    top: 8px;
}
#hamburger-icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 8px;
}
#hamburger-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}
#hamburger-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}
#hamburger-icon.open span:nth-child(5) {
    left: 4px;
    top: 21px;
}
#hamburger-icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 21px;
}

@media(max-width: 768px){

    /*    section, footer{
            filter: blur(5px);
            opacity: 0.5;
        }*/
    header{
        background-color: white;
    }
    #navbar{
        background-color: white;
        -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
    }
    #nav-ul{
        display: none;
    }
    #mobile-nav-ul{
        display: flex;
        -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
    }
    #mobile-nav-ul a:focus{
        outline: none
    }
    #hamburger-icon{
        display: unset;
    }


}
@media(max-width: 500px){
    #logo{
        height: 50px;
    }
}